* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$font-family: Helvetica, sans-serif;
$font-size: 1rem;
$font-weight: normal;
$line-height: 1.5;

$bg-body: #f8f9fa;
$font-color: #212529;


body {
  background-color: $bg-body;
  color: $font-color;
}


// slider overlay
header {
	position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;  /* Mobile vh-Bug fixen (Optional): auf Mobile gibt’s ein CSS-Feature svh, lvh, dvh (Safe Viewport Height): */
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(0,0,0,0.2);
  overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      width: 100%;  /* Kein Clipping mehr:  ::after ist immer so groß wie dein header. Das Bild wird über background-position verschoben, also gibt’s kein Abschneiden. */
      height: 100%;
      top: 0%; 
      left: 0%;
      background: url(../img/header-maske-LP.webp) no-repeat left / cover;
      animation: mask-pan 20s ease alternate 1;
      z-index: 1;
      pointer-events: none; // Klicks gehen durch


      // @keyframes mask-pan {
      //   from {background-position: 0% 0%;}
      //   to {background-position: 100% 0%;}
      // }
      
      @keyframes mask-pan {
        0% {background-position: 0% 0%;}
        30% {background-position: 95% 0%; }
        50% {background-position: 20% 0%; }
        70% {background-position: 68% 0%; }
        100% {background-position: 0% 0%;}
      }
    // Sehr performant, weil das Bild nicht als DOM-Element bewegt wird, sondern nur die background-position
    }
  }
